html {
  background: white;
}
h1,
p {
  font-family: Lato;
}
@media (min-width: 700px) {
  .img {
    border-radius: 0;
  }

  .img img {
    border-radius: 0;
  }
}

[aria-pressed='true'] {
  position: relative;
  z-index: 1;
  filter: drop-shadow(0 1rem -0.75rem #0008);
}

[aria-pressed='true']:not():focus-visible {
  transform-origin: center center;
}

[aria-pressed='true'] .img {
  transform: rotate(-2.5deg);
  transition: all 0.2s;
  /* outline: 4px solid #08f; */
  cursor: grabbing;
}
